<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/accueil">
      <img src="../assets/logo.png" class="max-width: 10%" style="border-radius: 15px;padding: 3px;width:150px"
        alt="logo du site">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservation">Réservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/acces">Accès</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profil">Mon Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/connexion">Connexion / Inscription </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>