<main>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 ms-auto">
                <div id="map" style="height: 400px;"></div>
            </div>
            <div class="col-md-6 ms-auto">
                <h2>Contact</h2>
                <ul>
                    <li><i class="bi bi-geo-alt"></i> 123 Rue de la Paix, 75008 Paris</li>
                    <li><i class="bi bi-telephone"></i> +33 1 23 45 67 89</li>
                    <li><i class="bi bi-envelope"></i> contact@umai.fr</li>
                </ul>
                <h2>Horaires</h2>
                <ul>
                    <li>Lundi - Vendredi: 12h - 14h / 19h - 22h</li>
                    <li>Samedi - Dimanche: 12h - 15h / 19h - 23h</li>
                </ul>
            </div>
        </div>
        <div class="mt-5 mx-auto">
            <h2 class="text-center">Informations complémentaires</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id justo quis ipsum elementum suscipit non non mi. Integer vitae magna tortor. Sed sed vestibulum magna. Sed et lobortis lacus, sit amet elementum leo. Nam vitae lacinia ex, nec sagittis sapien. Nulla facilisi. Nulla at elit sed elit volutpat mollis. Phasellus quis risus nisl. Donec eget purus nec arcu fermentum auctor quis quis odio. Fusce a sollicitudin metus. Donec sit amet nisl eget lacus consequat laoreet id in odio. Praesent quis enim ac ex facilisis euismod quis vel orci. Morbi sodales, felis ut rutrum mollis, quam enim hendrerit mi, nec pulvinar nisl est nec tortor. In lacinia leo vel commodo pulvinar.</p>
        </div>
        
    </div>
    
</main>


