<div class="container mt-5">
  <div class="row">
    <div class="reservation-form">
      <h2>Réserver une table</h2>
      <form #createReservation = 'ngForm' (ngSubmit) = "submit(createReservation.value)">
        <div class="form-group">
          <label for="date-input">Date:</label>
          <input type="date" class="form-control" id="date-input" name="dateReservation"required ngModel>
        </div>
        <div class="form-group">
          <label for="service">Choisir le service :</label>
          <select class="form-control" id="service">
            <option>Service du midi</option>
            <option>Service du soir</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3 mb-5">Réserver</button>
      </form>
    </div>
  </div>

</div>